@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}





/* menu de navegação */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;

}

nav{
    width: 60%;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

li{
    list-style: none;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;

}

a{
    text-decoration: none;
    transition: opacity 500ms linear;
}

a:hover{
    opacity: 0.5;
}

.redes-sociais{
    display: flex;
    justify-content: space-between;    
    margin-left: 5%;
    letter-spacing: 20px;
}

.logo{
    width: 150px;
    height: 100%;
    margin-top: 20px;
}

.banner{
    width: 100%;
    height: 600px;
    background-position: 50% 50%;
    background-size: cover;
}
