@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}





/* menu de navegação */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}

nav{
    width: 60%;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

li{
    list-style: none;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;

}

a{
    text-decoration: none;
    transition: opacity 500ms linear;
}

a:hover{
    opacity: 0.5;
}

.redes-sociais{
    display: flex;
    justify-content: space-between;    
    margin-left: 5%;
    letter-spacing: 20px;
}

.logo{
    width: 150px;
    height: 100%;
    margin-top: 20px;
}

.banner{
   
    width: 100%;
    height: 800px;
    background-position: 50% 50%;
    background-size: cover;
}

.trailer-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.trailer-content{
    width: 80%;     
    display: flex;
    align-items: center;
    justify-content: center;

}

.trailer{
    width: 70%;
    height: 300px;
    
   
}

#sinopse{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description{
   
    font-size: 25px;
    width: 95%;
    margin-top: 60px;
}

.btn{
    width: 200px;
    height: 50px;
    background-color: #d21617;
    color: #fff;
    padding: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 500ms linear;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-bottom: 40px;
}

.btn:hover{
    background-color: #fff;
    color: #000;
    opacity: .5s;
}


/*cards*/

.card-container{
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    display: flex;
}

.card-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card:hover{
    transform: scale(1.05);
}

.banner1{
    background-image: url("/img/Sabado_Manha/\(10\).jpg");
}

.banner2{
    background-image: url("/img/Sabado_Manha/\(18\).jpg");

}

.banner3{
    background-image: url("/img/Tarde_Sabado/\(11\).jpg");
}


/*footer*/

footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

small{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-footer{
    display: flex;
    justify-content: center;
    display: none;
}

.creditos{
    text-align: center;
}


