@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}



a {
    text-decoration: none;
}

header{
    width: 70px;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    
}

.logo{
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo-img{
    width: 40%;
    height: auto;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu {
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: "Roboto Serif", serif;
    
}

.redes-sociais{
    display: flex;
    width: 130px;   
    justify-content: space-between;
    
}

.fa-brands{
   margin-left: 70%;
   font-size: 1.2rem;
}